<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/weather.png"> 
    <title>About</title> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
      {{>header}}
    <img class="portrait" src="/img/2018IMT009.png" alt="profile">
      <p>
      Hi, I'm Afroz Quraishi.<br/>
I'm from Uttar Pradesh in India. I'm a pre-final year student in the department of Information Technology @IIIT Gwalior.
      </p>
      <p>This site is made by me.It fetchs data from mapbox and openweather Api.</p>
    </div>
    
    {{>footer}}
</body>
</html>