<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/weather.png"> 
    <title>Help</title> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
     {{>header}}
    <p>{{helpText}}</p>
     <div className="icons">
                <a className="icon" target="_blank" href="https://github.com/afroz23">GitHub</a>
                <a className="icon" target="_blank" href="https://www.linkedin.com/in/afrozquraishi/">LinkedIn</a>
                <a className="icon" target="_blank" href="https://twitter.com/AfrozQuraishi_">Twitter</a>
            </div>
    </div>
    
    {{>footer}}
</body>
</html>